<div class="d-flex">
    <div class="sidebar-container bg-zero">
        <div class="logo">
            <h4 class="text-light">Dashboard Admin</h4>
        </div>
        <div class="menu">
            <a href="" class="d-block text-light p-3">
                <img src="./assets/dashboard/mostrar.png" class="icons">
                 DASHBOARD
            </a>
            <a href="" class="d-block text-light p-3">
                <img src="./assets/dashboard/team.png" class="icons">
                USUARIOS
            </a>
            <a href="" class="d-block text-light p-3">
                <img src="./assets/dashboard/perfil1.png" class="icons">
                PERFIL
            </a>
            <a href="" class="d-block text-light p-3">
                <img src="./assets/dashboard/grafica.png" class="icons">
                ESTADÍSTICAS
            </a>
            <a href="" class="d-block text-light p-3">
                <img src="./assets/dashboard/settings.png" class="icons">
                CONFIGURACIÓN
            </a>
        </div>
    </div>

    <div class="content">
        <h1>Bienvenido Usuario</h1>
        <p>Revisa la última información</p>
        <button class="btn btn-primary">Descargar Reporte</button>

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 stat">
                            <h6 class="text-muted">Total de Tareas</h6>
                            <h3 class="font-weight-bold">55 Tareas</h3>
                            <h6 class="text-success">50.4%</h6>
                        </div>
                        <div class="col-lg-3 stat">
                            <h6 class="text-muted">Total de Productos</h6>
                            <h3 class="font-weight-bold">35 Tareas</h3>
                            <h6 class="text-success">50.4%</h6>
                        </div>
                        <div class="col-lg-3 stat">
                            <h6 class="text-muted">Total de Refacciones</h6>
                            <h3 class="font-weight-bold">200 Refacciones</h3>
                            <h6 class="text-success">50.4%</h6>
                        </div>
                        <div class="col-lg-3 stat">
                            <h6 class="text-muted">Total de Servicios</h6>
                            <h3 class="font-weight-bold">20 Servicios</h3>
                            <h6 class="text-success">50.4%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="graficas">
            <!--<canvas id="myChart" #mychart> </canvas>-->
            <h1>Grafica de Barras - Prueba</h1>
            <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="data"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </div>

    </div>
</div>
