<h1 class="text-center">Ver Operaciones</h1>
<br>
<table class="table table-hidden">
    <thead>
        <tr>
            <th>NÚMERO</th>
            <th>ID</th>
            <th>NOMBRE OPERACIÓN</th>
            <th>MÓDULO</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let operation of lstOperation; index as i">
            <td>{{i+1}}</td>
            <td>OPMOD - {{operation.idOperation}}</td>
            <td>{{operation.nameOperation}}</td>
            <td>{{operation.nameModule}}</td>
            <td>
                <button class="btn btn-info text-light">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger text-light">Eliminar</button>
            </td>
        </tr>
    </tbody>

</table>
<br>
<button class="btn btn-danger" routerLink="/staff/agregar">Regresar</button>
