.contenedor{
    width: 100%;
    display: flex;
}

.div-img{
    height: 450px;
    background-image: url('/assets/icons/add-user2.png');
    background-size: 100%;
    border-radius: 35px;
    display: inline-table;
    margin-top: 8%;
    margin-left: 1%;
}

.img-user{
    width: 450px;
    margin-top: 13%;
}

.div-form{
    position: relative;
    display: inline-table;
    width: 50%;
    margin-left: 5%;
    margin-bottom: 50px;
}

.img-passw{
    width: 50px;
}

button{
    margin-top: 10px;
    margin-bottom: 20px;
}
