        <div class="contenedor">
        <div class=" div-img">
          <img src="./assets/icons/add-user1.png" alt="Agrega Usuario" class="img-user">
          <!--<h1 *ngIf="respuesta" class="h1-img shadow">¡Usuario Agregado!</h1>-->
        </div>
        
        <div class="div-form">
          <h1 class="text-center">Agregar Usuario</h1>
          <br>

          <form [formGroup]="addUser" class="form-control" (ngSubmit)="addUserDB()">
            <!-- Nombre Input -->
            <div class="form-outline mb-4">
              <input formControlName="Nombre" type="name" id="name" class="form-control form-control-lg" autocomplete="off" />
              <label class="form-label" for="email">Nombre(s) y Apellido</label>
            </div>
            <p *ngIf="addUser.get('Nombre')?.invalid && addUser.get('Nombre')?.touched" class="text-danger">
              <b>Se requiere el Nombre de Usuario</b>
            </p>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input formControlName="Correo" type="email" id="email" class="form-control form-control-lg" 
              autocomplete="off" #emails (click)="checkemail(emails)"/>
              <label class="form-label" for="form1Example13">Correo Electrónico</label>
            </div>
            <p *ngIf="addUser.get('Correo')?.invalid && addUser.get('Correo')?.touched" class="text-danger">
              <b>Se requiere el Correo del Usuario</b>
            </p>
            <p *ngIf="answer1" class="text-primary">
              <b>El correo debe pertenecer al dominio "@tecnicaencolectores.com.mx"</b>
            </p>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input formControlName="Password" type="password" id="password" class="form-control
               form-control-lg" autocomplete="off" [type]="hide ? 'password':'text'" (input)="validate($event)" (click)="checkemail(emails)"/>
              <label class="form-label" for="">Contraseña</label>

              <img src="./assets/icons/staff-adduser-ver1.png" alt="Ver Contraseña" Title="Ver Contraseña"
              class="img-passw float-end" id="img-passw" (click)="hide = !hide" *ngIf="hide">

              <img src="./assets/icons/staff-adduser-no-ver.png" alt="Ocultar Contraseña" Title="Ocultar Contraseña"
              class="img-passw float-end" id="img-passw" (click)="hide = true" *ngIf="!hide">
            </div>
            <p *ngIf="addUser.get('Password')?.invalid && addUser.get('Password')?.touched 
                && addUser.get('Password')?.value == 0"  class="text-danger">
              <b>Se requiere una Contraseña</b>
            </p>
            <p *ngIf="answer" class="text-primary">
                <b>El mínimo de caracteres es de 10</b>
            </p>
            <p class="text-primary text-justify p-recomend">
              <b>Se recomienda el uso de Mayúsculas, Minúsculas, Números y Caracteres Especiales para una 
                contraseña más segura
              </b>
            </p>
            
          
             <!--Confirm Password input 
            <div class="form-outline mb-4">
                <input formControlName="Passwordconf" type="password" id="passwordconf" class="form-control form-control-lg" autocomplete="off" />
                <label class="form-label" for="form1Example23">Confirma Contraseña</label>
            </div>
            <p *ngIf="addUser.get('Passwordconf')?.invalid && addUser.get('Passwordconf')?.touched" class="text-danger">
              <b>Se requiere la confirmación de Contraseña</b>
            </p>-->
            <!--<p ><b>La contraseña no coincide</b></p>-->
            
            <!--<span class="text-success">
                Recuerde que una vez que el usuario ingrese a su cuenta por primera 
                vez, debe realizar el cambio de <b>contraseña</b>.
            </span> -->
            <br>
            <!-- Select Departamento -->
            <label class="form-label" for="modulo">Departamento</label>
            <select formControlName="Id_module" name="Id_module" id="module" class="form-select" >
              <option *ngFor="let module of readModule" value="{{module.Id_module}}">{{module.Name_module}}</option>
            </select>
            <p *ngIf="addUser.get('Id_module')?.invalid && addUser.get('Id_module')?.touched" class="text-danger">
              <b>Se requiere el Departamento</b>
            </p>
  
            <!-- Submit button --> 
            <br>
            <button class="btn btn-danger btn-lg" routerLink="/staff/agregar">Regresar</button>
            <button type="submit" class="btn btn-primary btn-lg float-end" [disabled]="addUser.invalid">AGREGAR</button>
          </form>
        </div>
      </div>

      <!--<ng-template let-error let-text="text" #messagePasswordError> 
        <b>Error: </b>
        <div *ngIf="error.minLength">
          <i>No cumples con los Caracteres Mínimos</i>
        </div>
      </ng-template>

      <ng-template let-error let-text="text" #mensajeError> {{ error | json }}{{ text }} </ng-template>-->