<h1 class="text-center">Ver Usuarios Conectados</h1>
<br><br>
<div class="contenedor">
    <div class="usuarios" *ngFor="let user of lstUser">
        <img src="./assets/icons/ingeniero.png" alt="" class="img-usuarios">
        <h5>User -  {{ user.idUser }}</h5>
        <h5>{{user.nameUser}}</h5>
        <p>{{user.emailUser}}</p>
        <h4>{{user.name}}</h4>
        <br>
        <button class="btn btn-lg btn-info text-light" (click)="showTask()">Ver Más</button>
    </div>
    <div class="mas" *ngIf="ver">
<!--        <table class="tareas table" >
            <thead>
                <tr>
                    <th>Id Tarea</th>
                    <th>Nombre de la Tarea</th>
                    <th>Status de la Tarea</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of readTasks">
                    <td>{{ task.Id_Work }}</td>
                    <td>{{ task.Title_Work }}</td>
                    <td>{{ task.Status_Work }}</td>
                </tr>
            </tbody>
        </table>
-->
        <button class="btn btn-lg btn-success text-light" (click)="hideTask()">Cerrar</button>
    </div>
</div>



<br>
<button class="btn btn-danger btn-lg" routerLink="/staff/agregar">Regresar</button>
