<div class="row mt-3">
  <div class="col-lg-6">
    <h3>
      Lista de Tareas
    </h3>
  </div>
  <div class="col-lg-6">
    <button class="btn btn-primary float-end" disabled routerLink="/agregar">
      Nueva tarea
    </button>
  </div>
</div>

<table *ngIf="listTask.length > 0" class="table table-hover mt-3">
  <thead>
    <tr>
      <td>ID</td>
      <td>TITULO</td>
      <td>STATUS</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tasks of listTask">
      <td>{{ tasks.Id_Work }}</td>
      <td>
        <a [routerLink]="['/ver', 1]">
          {{ tasks.Title_Work }}
        </a>
      </td>
      <td>{{ tasks.Status_Work }}</td>
      <td>
        <button class="btn btn-info btn-sm float-end">
          Hacer
        </button>
      </td>
      <td>
        <button class="btn btn-danger btn-sm float-end">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="listTask.length == 0" class="row mt-5">
  <h5>No hay tareas a realizar</h5>
</div>
