<div class="container mt-5">
  <div class="row">
    <h1 class="text-center">BIENVENIDO A TU GESTOR DE TAREAS</h1>
    <br>
    <img src="./assets/icons/trabajando1.png" class="img1">
  </div>

  <div class="tutorial">
    <h2>1.</h2>
    <p class="p-tarjetas">Ingresa la Tarea que vas a desarrollar</p>
  </div>
  <div class="tutorial1">
    <h2>2.</h2>
    <p class="p-tarjetas">Automaticamente se direccionan a la sección de "Para Hacer"</p>
  </div>
  <div class="tutorial">
    <h2>3.</h2>
    <p class="p-tarjetas">Arrastra tu tarea de acuerdo al estatus en que se encuentra</p>
  </div>
  <div class="tutorial1">
    <h2>4.</h2>
    <p class="p-tarjetas">Una vez que desplaces tu Tarea a "Terminado" ya no podrás moverla</p>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 mb-4">
      <input
        type="text"
        [(ngModel)]="task"
        (keyup.enter)="addTask()"
        class="form-control form-control-lg text-center"
        placeholder="Ingresa una tarea">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h4><img src="./assets/icons/lista-de-tareas2.png" class="img2">Para hacer</h4>
      <div
        cdkDropList
        class="example-list1"
        id="todo-list"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="['progress-list']"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box1" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="col-lg-4">
      <h4><img src="./assets/icons/coordinador.png" class="img2">Trabajando</h4>
      <div
        cdkDropList
        class="example-list2"
        id="progress-list"
        [cdkDropListData]="progress"
        [cdkDropListConnectedTo]="['todo-list', 'checking-list']"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box2" *ngFor="let item of progress" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="col-lg-4">
      <h4><img src="./assets/icons/trabajando2.png" class="img2">Revisando</h4>
      <div
        cdkDropList
        class="example-list3"
        id="checking-list"
        [cdkDropListData]="checking"
        [cdkDropListConnectedTo]="[
          'todo-list',
          'progress-list',
          'done-list'
        ]"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box3" *ngFor="let item of checking" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="col-lg-4">
      <h4><img src="./assets/icons/lista-de-tareas.png" class="img2">Terminado</h4>
      <div
        cdkDropList
        class="example-list4"
        id="done-list"
        [cdkDropListData]="done"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box4" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</div>
