<h1 class="text-center">Ver Roles-Operaciones</h1>
<br>
<table class="table table-hidden">
    <thead>
        <tr>
            <th>NÚMERO</th>
            <th>CLAVE ROL-OPERACI</th>
            <th>NOMBRE ROL</th>
            <th>NOMBRE OPERACIÓN</th>
            <th>NOMBRE MODULO</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rolope of lstRolOperation; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{rolope.IdUp }}</td>
            <td>{{ rolope.Name }}</td>
            <td>{{ rolope.NameOperation }}</td>
            <td>{{ rolope.NameModule }}</td>
            <td>
                <button class="btn btn-info text-light">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger text-light">Eliminar</button>
            </td>
        </tr>
    </tbody>

</table>
<br>
<button class="btn btn-danger" routerLink="/staff/agregar">Regresar</button>
