*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1{ 
    margin-top: 15px;
    margin-bottom: 15px ;
}

.imagen1{
    width: 100%;
    margin-top: 30px;
    //border: 1px solid black;
    border-radius: 15px;
}

.img1{
    width: 30%;
    margin-top: 15px;
    margin-left: 15%;
    margin-bottom: 15px;
    border-radius: 50%;
    // ANIMACIONES
    position: relative;
    animation-name: flotar;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    // SOMBRA
    box-shadow: 0 8px 8px 0 #5DADE2;
}

.h3-1{
    margin-left: 17%;
    border: 3px solid #5DADE2;
    border-radius: 10px;
    padding: 5px;
    width: 27%;
    background: #D6EAF8;
}

.imagen2{
    width: 100%;
    //border: 1px solid black;
    border-radius: 15px;
}

.img2{
    width: 30%;
    margin-top: 15px;
    margin-left: 50%;
    margin-bottom: 15px;
    border-radius: 50%;
    // ANIMACIONES
    position: relative;
    animation-name: flotar;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    box-shadow: 0 8px 8px 0 #5DADE2;
}

.h3-2{
    margin-left: 51%;
    border: 3px solid #5DADE2;
    border-radius: 10px;
    padding: 5px;
    width: 27%;
    background: #D6EAF8;
    text-align: center;
}

.imagen3{
    width: 100%;
    //border: 1px solid black;
    border-radius: 15px;
}

.img3{
    width: 30%;
    margin-top: 15px;
    margin-left: 15%;
    margin-bottom: 15px;
    border-radius: 50%;
    // ANIMACIONES
    position: relative;
    animation-name: flotar;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    box-shadow: 0 8px 8px 0 #5DADE2;
}

.h3-3{
    margin-left: 17%;
    border: 3px solid #5DADE2;
    border-radius: 10px;
    padding: 5px;
    width: 27%;
    background: #D6EAF8;
    text-align: center;
}

/* ******************** ANIMACIONES DE IMAGENES *********************** */
@keyframes flotar {
    0%{
        left: 0px;
        top: 25px;
    }
    50%{
        left: 0px;
        top: 0px;
    }
    100%{
        left: 0px;
        top:25px
    }
}