<div class="text-center">
  <h1>
    Bienvenido a la Oficina Virtual TECSA
  </h1>
   
  <img src="./assets/others/Oficina.jpg" width="100%">
</div>

<div class="imagen1">
  <h3 class="h3-1">¡Planifica tus actividades!</h3>
  <img src="./assets/others/reunion.jpg" class="img1">
</div>

<div class="imagen2">
  <h3 class="h3-2">¡Trabaja en equipo!</h3>
  <img src="./assets/others/equipo.jpg" class="img2">
</div>

<div class="imagen3">
  <h3 class="h3-3">¡Realiza tus actividades!</h3>
  <img src="./assets/others/junta.jpg" class="img3">
</div>

<button class="btn btn-secondary text-light ">
  <a class="nav-link" [routerLink]="['/staff/dashboard']"></a> IR AL DASHBOARD
</button> 