<h1 class="text-center">Acciones Para Administrador</h1>
<img src="./assets/icons/gerente.png" alt="" class="img-admin">

<div class="div-opciones">

  <div class="opciones">
    <img src="./assets/icons/lista-de-tareas2.png" alt="" class="img-opciones">
    <a routerLink="/agregar">
      <button class="btn btn-primary">
        Agregar Tarea
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/trabajando4.png" alt="" class="img-opciones">
    <a routerLink="/Mi Oficina Virtual">
      <button class="btn btn-primary">
        Ver Tareas
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/revisar-tarea.png" alt="" class="img-opciones">
    <a routerLink="/Mi Oficina Virtual">
      <button class="btn btn-primary">
        Revisar Tarea
      </button>
    </a>
  </div>
  <!-- Aqui -->
  <div class="opciones">
    <img src="./assets/icons/staff-agregar.png" alt="" class="img-opciones">
    <a routerLink="/staff/agregarmodulo">
      <button class="btn btn-primary">
        Agregar Módulo
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-editar2.png" alt="" class="img-opciones">
    <a routerLink="/staff/editarmodulo/1">
      <button class="btn btn-primary">
        Actualizar Módulo
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-ver.png" alt="" class="img-opciones">
    <a routerLink="/staff/vermodulo/1">
      <button class="btn btn-primary">
        Ver Módulo
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-agregar1.png" alt="" class="img-opciones">
    <a routerLink="/staff/agregaroperacion">
      <button class="btn btn-primary">
        Agregar Operación
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-editar.png" alt="" class="img-opciones">
    <a routerLink="/staff/editaroperacion/1">
      <button class="btn btn-primary">
        Actualizar Operación
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-ver1.png" alt="" class="img-opciones">
    <a routerLink="/staff/veroperacion">
      <button class="btn btn-primary">
        Ver Operación
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-agregar2.png" alt="" class="img-opciones">
    <a routerLink="/staff/editarrol/1">
      <button class="btn btn-primary">
        Agregar Rol
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-editar.png" alt="" class="img-opciones">
    <a routerLink="/staff/editarrol/1">
      <button class="btn btn-primary">
        Actualizar Rol
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-ver3.png" alt="" class="img-opciones">
    <a routerLink="/staff/verrol">
      <button class="btn btn-primary">
        Ver Roles
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-agregar3.png" alt="" class="img-opciones">
    <a routerLink="/staff/agregarrol-operacion">
      <button class="btn btn-primary">
        Agregar Rol-Operación
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-editar1.png" alt="" class="img-opciones">
    <a routerLink="/staff/editarrol-operacion/1">
      <button class="btn btn-primary">
        Actualizar Rol-Operación
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/staff-ver2.png" alt="" class="img-opciones">
    <a routerLink="/staff/verrol-operacion">
      <button class="btn btn-primary">
        Ver Rol-Operación
      </button>
    </a>
  </div>
  <div class="opciones">
    <img src="./assets/icons/agregar-usuario.png" alt="" class="img-opciones">
    <a routerLink="/staff/agregarusuario">
      <button class="btn btn-primary">
        Agregar Usuario
      </button>
    </a>
  </div>

  <!-- Aqui Termina -->
  <div class="opciones">
    <img src="./assets/icons/registro1.png" alt="" class="img-opciones">
    <a routerLink="/staff/verusuario">
      <button class="btn btn-primary">
        Ver Usuarios
      </button>
    </a>
  </div>

</div>

<a routerLink="/staff/dashboard">
  <button class="btn btn-danger btn-final">
    Regresar al Dashboard
  </button>
</a>

