<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 div-form">
        <h1 class="text-center">Inicio de Sesión</h1>
        <br>
        <form [formGroup]="login" class="form-control" (ngSubmit)="onLogin()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form1Example13" class="form-control form-control-lg" formControlName="email" autocomplete="off" />
            <label class="form-label" for="form1Example13">Correo Electrónico</label>
            <br>
            <span *ngIf="login.get('email')?.invalid && login.get('email')?.touched" class="text-warning">
              El <strong>correo</strong> es requerido
            </span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" formControlName="password"
            [type]="hide ? 'password':'text'" autocomplete="off"/>
            <label class="form-label" for="form1Example23">Contraseña</label>
            <img src="./assets/icons/staff-adduser-ver1.png" alt="Ver Contraseña" 
              class="img-passw float-end" id="img-passw" (click)="hide = !hide" *ngIf="hide">

              <img src="./assets/icons/staff-adduser-no-ver.png" alt="Ocultar Contraseña" 
              class="img-passw float-end" id="img-passw" (click)="hide = true" *ngIf="!hide">
            <br>
            <span *ngIf="login.get('password')?.invalid && login.get('password')?.touched" class="text-warning">
              La <strong>contraseña</strong> es requerida
            </span>
          </div>

          <!-- Submit button 
          <button type="submit" class="btn btn-info btn-lg btn-block login-form-btn">Iniciar Sesión</button>-->
          <div class="container-login-form-btn">
            <div class="btn-info wrap-login-form-btn">
                <div class="login-form-bgbtn"></div>
                <button type="submit" name="submit" class="login-form-btn" [disabled]="login.invalid">CONECTAR</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
