<h1 class="text-center">Ver Roles</h1>
<br>
<table class="table table-hidden">
    <thead>
        <tr>
            <th>NÚMERO</th>
            <th>CLAVE ROL</th>
            <th>NOMBRE DEL ROL</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let modulos of lstRol; index as i">
            <td>{{ i + 1 }}</td>
            <td>ROL - {{modulos.idRol}}</td>
            <td>{{modulos.name}}</td>
            <td>
                <button class="btn btn-info text-light">Modificar</button>
            </td>
            <td>
                <button class="btn btn-danger text-light">Eliminar</button>
            </td>
        </tr>
    </tbody>

</table>
<br>
<button class="btn btn-danger" routerLink="/staff/agregar">Regresar</button>
