h1{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    border-top: 2px solid skyblue;
    border-bottom: 2px solid violet;
    border-radius: 10px;
    padding: 5px;
}

.btn-danger{
    margin-top: 5px;
    margin-bottom: 150px;
}