<div class="text-center">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th colspan="3">
          <h1>
            Detalles de Tarea
          </h1>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h3>
            Hola
          </h3>
        </td>
        <td>
          <h5>
            Debes decir hola para que todos te quieran
          </h5>
        </td>
        <td>
          Para Hacer
        </td>
      </tr>
    </tbody>
  </table>
</div>
