<div class="text-center">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th colspan="4">
          <h1>
            Detalles de Tarea
          </h1>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h3>
            {{ lstTaskData.titleWork}}
          </h3>
        </td>
        <td>
          <h5>
            {{ lstTaskData.descriptionWork }}
          </h5>
        </td>
        <td>
          {{ lstTaskData.statusWork }}
        </td>
        <td>
          {{ lstTaskData.name }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
