<h1 class="text-center">Agregar Módulo</h1>
<br>

<form [formGroup]="addModule" class="form-control" (ngSubmit)="addModuleDB()">
    <label for="" class="form-label">Nombre del Módulo:</label>
    <input type="text" formControlName="Title_Module" name="name-module" class="form-control" id="nombre" autocomplete="off">
    <span *ngIf="addModule.get('Title_Module')?.invalid && addModule.get('Title_Module')?.touched" class="text-danger">
      El <strong>nombre de módulo</strong> es requerido
    </span>
    <br>
    <button class="btn btn-danger" routerLink="/staff/agregar">Regresar</button>
    <button type="submit" class="btn btn-primary float-end" [disabled]="addModule.invalid">
      Agregar
    </button>

</form>